@import "normalize.css";

html { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p { margin: .5em 0; }
h1 { font-size: 2.5rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1rem; }

::-moz-placeholder {
    color: #717980;
}

::placeholder {
    color: #717980;
}

a {
    color: #0c6ec9;
    text-decoration: none;
}

a:hover {
    color: #09549a;
    text-decoration: underline;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: .1rem solid #717980;
}

ul, ol, dl {
    margin: .5em 0;
}

li, dt {
    margin-top: .25em;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 1em;
}

.container {
    width: 66.66%;
    background-color: transparent;
    margin: auto;
}

/* Navbar */

.navbar {
    background-color: #0c6ec9;
    box-shadow: 0 0 .5rem .25rem #00000060;
}

.navbar .container {
    font-size: 0;
}

.navbar a {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    margin-right: 2rem;
    padding: 1rem 0;
}

.hamburger {
    background: transparent;
    background-image: url("../img/hamburger.svg");
    background-repeat: no-repeat;
    border: none;
    width: 3rem;
    height: 3rem;
    display: none;
    cursor: pointer;
}

/* Buttons */

.btn {
    display: inline-block;
    color: #fff !important;
    background-color: #0c6ec9;
    border: .1rem solid #0c6ec9;
    border-radius: .25em;
    padding: .5em 1em;
    text-align: center;
    text-decoration: none !important;
}

.btn:hover {
    background-color: #0a61b2;
    border: .1rem solid #0a61b2;
    cursor: pointer;
}

.btn:focus {
    background-color: #09549a;
    border: .1rem solid #09549a;
}

/* Inputs & TextAreas */

input {
    border: .1rem solid #717980;
    border-radius: .25em;
    padding: .5em;
    outline: none;
}

textarea {
    width: 100%;
    border: .1rem solid #717980;
    border-radius: .25em;
    padding: .5em;
    outline: none;
    resize: vertical;
}

input:focus, textarea:focus {
    border-color: #0c6ec9;
}

/* Forms */

form * {
    margin-bottom: .5em;
}

label {
    display: block;
    margin-bottom: .5em;
}

label::after {
    content: ":";
}

/* Mobile */

@media only screen and (max-width: 32rem) {
    .hamburger {
        display: block;
    }

    .navbar a:not(.showing) {
        display: none;
    }

    .navbar a.showing {
        display: block;
    }

    .btn {
        display: block;
    }

    .btn:not(p > .btn) {
        margin-bottom: .5em;
    }

    button.btn {
        width: 100%;
    }

    input {
        width: 100%;
    }
}