@import "normalize.css";

html { font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5, h6, p { margin: .5em 0; }
h1 { font-size: 2.5rem; }
h2 { font-size: 2.2rem; }
h3 { font-size: 1.9rem; }
h4 { font-size: 1.6rem; }
h5 { font-size: 1.3rem; }
h6 { font-size: 1rem; }

a {
    color: #0c6ec9;
    text-decoration: none;
}

a:hover {
    color: #09549a;
    text-decoration: underline;
}

hr {
    margin: 2rem 0;
    border: none;
    border-top: .1rem solid #888;
}

ul, ol, dl {
    margin: .5em 0;
}

li, dt {
    margin-top: .25em;
}

dt {
    font-weight: 700;
}

dd {
    margin-left: 1em;
}

.container {
    width: 66.66%;
    background-color: transparent;
    margin: auto;
}

/* Navbar */

.navbar {
    background-color: #0c6ec9;
    box-shadow: 0 0 .5rem .25rem #00000060;
}

.navbar .container {
    font-size: 0;
}

.navbar a {
    display: inline-block;
    font-size: 1rem;
    color: #fff;
    margin-right: 2rem;
    padding: 1rem 0;
}

.hamburger {
    background: transparent;
    background-image: url("../img/hamburger.svg");
    background-repeat: no-repeat;
    border: none;
    width: 3rem;
    height: 3rem;
    display: none;
    cursor: pointer;
}

@media only screen and (max-width: 32rem) {
    .hamburger {
        display: block;
    }

    .navbar a:not(.showing) {
        display: none;
    }

    .navbar a.showing {
        display: block;
        width: 100%;
    }
}